<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate renderer: BootstrapPagination::Rails %>

<ul class="users">
  <% @users.each do |user| %>
    <li class="users">
      <%#= gravatar_for user, size: 52 %>
      <%#= link_to user.name, user %>
      
      <%= render user %>
    </li>
  <% end %>
</ul>

<%= will_paginate renderer: BootstrapPagination::Rails %>